# =====================
# Secrets
# =====================
.env

# =====================
# Python cache
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Virtual environment
# =====================
venv/
env/
.venv/

# =====================
# IDE files
# =====================
.vscode/
.idea/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# ML / model files (optional)
# =====================
*.pt
*.pth
*.h5
*.onnx
